@model TravelProject.Models.Classes.Comment

@{
    ViewBag.Title = "EditBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme sayfası</h2>
<br />

@using (Html.BeginForm("EditComment", "Admin", FormMethod.Post))
{

    <form class="form-group" method="post">


        @Html.Label("ID")
        <br />
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <br />

        @Html.Label("Başlık")
        <br />
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("İsim")
        <br />
        @Html.TextBoxFor(x => x.MemberName, new { @class = "form-control" })
        <br />
        <br />        
        @Html.Label("Açıklama")
        <br />
        @Html.TextAreaFor(x => x.MemberComment, 10, 1, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Yorum Güncelle</button>
    </form>
}

